/* Style for font-generator here */

/* Roboto Regular */
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-regular/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-regular/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
